{% extends "base.html" %}
{% block content %}
<!-- lights toggle -->
<div class="row row-section">
    <div class="col-xs-6">
        <input type="checkbox" data-toggle="toggle" data-size="large" id="lightsToggle">
    </div>
    <div class="col-xs-6">
        <label for="lightsToggle">
            Toggle the lights on/off
        </label>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <h2>Light</h2>
        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="number"
                       id="lightPosSlider"
                       data-slider-id="lightPosSlider"
                       data-slider-min="0"
                       data-slider-max="1"
                       data-slider-step="0.005"
                       data-slider-value="0"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="lightPosSlider" class="slider-label">Position</label>
            </div>
        </div>

        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="number"
                       id="lightSizeSlider"
                       data-slider-id="lightSizeSlider"
                       data-slider-min="0"
                       data-slider-max="8"
                       data-slider-step="0.1"
                       data-slider-value="3"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="lightSizeSlider" class="slider-label">Size</label>
            </div>
        </div>

        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="number"
                       id="lightIntensitySlider"
                       data-slider-id="lightIntensitySlider"
                       data-slider-min="0"
                       data-slider-max="2"
                       data-slider-step="0.02"
                       data-slider-value="1"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="lightIntensitySlider" class="slider-label">Intensity</label>
            </div>
        </div>

        <!-- COLOR -->
        <h2>Color Light</h2>
        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="number"
                       id="ledLightPosSlider"
                       data-slider-id="ledLightPosSlider"
                       data-slider-min="0"
                       data-slider-max="1"
                       data-slider-step="0.005"
                       data-slider-value="0"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="ledLightPosSlider" class="slider-label">Position</label>
            </div>
        </div>

        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="number"
                       id="ledLightSizeSlider"
                       data-slider-id="ledLightSizeSlider"
                       data-slider-min="0"
                       data-slider-max="100"
                       data-slider-step="1"
                       data-slider-value="10"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="ledLightSizeSlider" class="slider-label">Size</label>
            </div>
        </div>

        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="number"
                       id="ledLightIntensitySlider"
                       data-slider-id="ledLightIntensitySlider"
                       data-slider-min="0"
                       data-slider-max="2"
                       data-slider-step="0.02"
                       data-slider-value="1"/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="ledLightIntensitySlider" class="slider-label">Intensity</label>
            </div>
        </div>

        <div class="row row-section">
            <div class="col-xs-12 col-sm-6">
                <input type="text"
                       id="ledLightColor"
                       data-spectrum/>
            </div>
            <div class="col-xs-12 col-sm-6">
                <label for="ledLightColor" class="slider-label">Intensity</label>
            </div>
        </div>

<!-- programs -->

        <h2>Glow</h2>
        <div class="row row-section">
            <div class="col-xs-6">
                <input type="checkbox" data-toggle="toggle" data-size="large" id="glowToggle">
            </div>
            <div class="col-xs-6">
                <label for="glowToggle">
                    Toggle Glow functionality
                </label>
            </div>
        </div>

        <h2>Pong</h2>
        <div class="row row-section">
            <div class="col-xs-6">
                <input type="checkbox" data-toggle="toggle" data-size="large" id="pongToggle">
            </div>
            <div class="col-xs-6">
                <label for="glowToggle">
                    Toggle Pong functionality
                </label>
            </div>
        </div>

        <h2>Clock</h2>
        <div class="row row-section">
            <div class="col-xs-6">
                <input type="checkbox" data-toggle="toggle" data-size="large" id="clockToggle">
            </div>
            <div class="col-xs-6">
                <label for="glowToggle">
                    Toggle Binary Clock
                </label>
            </div>
        </div>
    </div>
</div>

<!-- individual controls -->
<div class="row">
    <div class="col-md-12">
        <h2>Individual controls</h2>
        {% for item in range(0,32) %}
        <div class="row row-slider">
            <div class="col-sm-11 col-xs-10">
                <input type="number"
                       data-light="{{31-item}}"
                       data-slider
                       data-slider-id="lightSlider{{31-item}}"
                       data-slider-min="0"
                       data-slider-max="1"
                       data-slider-step="0.001"
                       data-slider-value="0"
                       data-slider-tooltip="hide"/>
            </div>
            <div class="col-sm-1 col-xs-2">
                    <span
                            data-light="{{31-item}}"
                            data-label
                            data-label-id="lightLabel{{31-item}}"></span>
            </div>
        </div>
        {% end %}
    </div>
</div>
{% end %}
